name: Meu Primeiro Workflow
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Utilizando actions
        run: echo "Olá, este é o meu primeiro workflow no GitHub Actions!"